<a href="https://colab.research.google.com/github/achingachris/datasciencelearninghub/blob/master/data_cleaning.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
import pandas as pd

In [ ]:
airlines = pd.read_csv('airlines.csv')
airports = pd.read_csv('airports.csv')

In [ ]:
airlines.head()

  IATA_CODE                 AIRLINE
0        UA   United Air Lines Inc.
1        AA  American Airlines Inc.
2        US         US Airways Inc.
3        F9  Frontier Airlines Inc.
4        B6         JetBlue Airways

In [ ]:
airports.head()

  IATA_CODE                              AIRPORT  ...  LATITUDE  LONGITUDE
0       ABE  Lehigh Valley International Airport  ...  40.65236  -75.44040
1       ABI             Abilene Regional Airport  ...  32.41132  -99.68190
2       ABQ    Albuquerque International Sunport  ...  35.04022 -106.60919
3       ABR            Aberdeen Regional Airport  ...  45.44906  -98.42183
4       ABY   Southwest Georgia Regional Airport  ...  31.53552  -84.19447

[5 rows x 7 columns]

In [ ]:
# READING JSON

In [ ]:
airports_json = pd.read_json('airports.json')